/* font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font{
    font-family: 'GmarketSansMedium';

}

#logo::after,#nav::after{
    content: '';
    display: block;
    clear: both;
}
/* #section1 */
#section1{
    width: 1200px;
    margin: 0 auto;
}

/* #header */
#header{
    padding: 10px 0;
}
#logo{
    display: inline-block;
    color: #333333;
    padding: 20px 0px 20px 60px;
    background: url(../images/logo.png) no-repeat left;
}

#logo >a{
    text-decoration: none;    
    font-size: 25px;
    color: #333333;
    margin-left: 10px;
}

#nav{
    float: right;
    margin-top: 20px;
}

#nav_wrap >li{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
} 

#nav_wrap >li:nth-child(1){
    background: url(../images/search.png) no-repeat center;
}
#nav_wrap >li:nth-child(2){
    background: url(../images/wish.png) no-repeat center;
}
#nav_wrap >li:nth-child(3){
    background: url(../images/menu.png) no-repeat center;
}

/* #main */
#main{
    background: rgba(255, 255, 255, 0.7) url(../images/main_bg.jpg) no-repeat center;
    padding: 170px 0;
}

#main_text{
    margin: 0 auto;
    width: 580px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 45px;
    padding: 40px 0;
}

#main_text strong{
    display: block;
    color: #ff2200;
    font-size: 55px;
    margin: 30px 0;
}

#install::after{
    display: block;
    clear: both;
    content: '';
}
#install{
    margin: 0 auto;
    width: 530px;
}
#install > button{
    width: 250px;
    border-radius: 10px;
    box-shadow: #d5d5d5 0 0 18px;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    float: left;
    padding: 15px 0 15px 30px;
    border: none;
    cursor: pointer;
}

#app{
    background: #fff url(../images/app.png) no-repeat left 20px top 15px;
    margin-right: 25px;
}

#google{
    background: #fff url(../images/google.png) no-repeat left 20px top 15px;
}

/* #slide */
h3{
    font-size: 40px;
}

.font strong{
    font-weight: 600;
}

.font > p{
    color: #6e6e6e;
    font-size: 20px;
}
#slide{
    position: relative;
    margin-top: 80px;
}

#slide_wrap::after{
    display: block;
    clear: both;
    content: '';
}

#slide_wrap img{
    float: left;
    margin-left: 125px;
}

#slide_text{
    float: right;
    text-align: center;
    margin-right: 100px;
    margin-top: 300px;
    line-height: 1.5;
}

#slide > button{
    width: 72px;
    padding-bottom: 72px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

#prev{
    left: -10px;
    background: url(../images/prev.png)no-repeat center;
}

#next{
    right: -10px;
    background: url(../images/next.png)no-repeat center;
}



/* #section2 */
#section2{
    width: 100%;
    border-top: #ff4e33 3px solid;
    position: relative;
}
#bg_red{
    width: 100%;
    padding-bottom: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 34, 0, 0.7);

}

#section2_wrap::after{
    display: block;
    clear: both;
    content: '';

}
#section2_wrap{
    width: 1200px;
    margin: 0 auto;
}

#lunch{
    background: url(../images/lunc_phone.png) no-repeat left;
    padding-bottom: 600px;
}

#store{
    background: url(../images/lunc_phone.png) no-repeat right;
}

.red_btn{
    border: none;
    border-radius: 18px;
    background: #ff2200;
    font-size: 20px;
    color: #fff;
    font-family: 'GmarketSansMedium';
    cursor: pointer;
    padding: 7px 20px;
}




/* #section3 */
/* #footer */
#footer{
    background: #676767;
    color: #fff;
}

#ft_wrap{
    width: 1200px;
    margin: 0 auto;
}
