body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}
a{
    text-decoration: none;
    color: #333333;
}

#header,#main,#search > div,#banner,
.con,#ft_wrap,#location,#content_wrap{
    width: 1200px;
    margin: 0 auto;
}


/* header */
#header{
    height: 100px;
}

#logo{
    margin: 20px 0 0 20px;
    float: left;
}

#logo >a{
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 3.4;
    background: url(../images/logo.png) no-repeat left 0px top 0px;
}

#logo strong{
    margin-left: 100px;
}

#nav{
    font-size: 18px;
    float: left;
    padding: 40px 0;
    margin-left: 40px;
}

#nav > ul::after{
    display: block;
    content: '';
    clear: both;
}

#nav > ul > li{
    float: left;
    width: 140px;
    position: relative;
}
#nav a{
    display: inline-block;
}

.sub_menu{
    display: none;
    background: #fff;
    z-index: 9;
    position: absolute;
    margin-top: 40px;
    font-size: 16px;
    height: 300px;
    width: 140px;
    border-top: 1px #dc4232 solid;
    padding: 20px 0;
}

.sub_menu > li{
    line-height: 2;
}

.menu_first{    
    width: 140px;
    left: -280px;
    padding-left: 280px;
}

.menu_last{
    width: 240px;
}

.sub_menu a{
    color: #575757;
}
.sub_menu a:hover{
    color: #dc4232;
}
#user{
    float: right;
    margin: 40px 20px 0;
}

#user > button{
    border: none;
    color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#btn_search{
    background: url(../images/search.png) no-repeat center;
    margin-right: 15px;
}

#btn_menu{
    background: url(../images/menu.png) no-repeat center;
}


/* #main */
#main_wrap{
    background: url(../images/bg1.png) no-repeat left -10% top 0,
                url(../images/bg2.png) no-repeat right 5% bottom 70%;
    padding: 40px 0;
}

#main > h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

#quick::after{
    display: block;
    clear: both;
    content: '';
}

#quick{
    margin: 0 auto;
    width: 930px;
}

#quick > li{
    float: left;
    padding: 15px;
    text-align: center;
}

#quick a{
    display: block;
}

#quick span{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#quick li:nth-child(1) span{
    background: #aecad1 url(../images/quick-search.png) no-repeat center;
}
#quick li:nth-child(2) span{
    background: #aecad1 url(../images/quick-post.png) no-repeat center;
}
#quick li:nth-child(3) span{
    background: #aecad1 url(../images/quick-prev.png) no-repeat center;
}
#quick li:nth-child(4) span{
    background: #aecad1 url(../images/quick-map.png) no-repeat center;
}

#quick li:nth-child(1) span:hover{
    background: #dc4232 url(../images/quick-search2.png) no-repeat center;
}
#quick li:nth-child(2) span:hover{
    background: #dc4232 url(../images/quick-post2.png) no-repeat center;
}
#quick li:nth-child(3) span:hover{
    background: #dc4232 url(../images/quick-prev2.png) no-repeat center;
}
#quick li:nth-child(4) span:hover{
    background: #dc4232 url(../images/quick-map2.png) no-repeat center;
}
#quick img{
    line-height: 16;
    margin-top: 30%;
}

#quick img:nth-child(1){
    margin-top: 25%;
}

#quick p{
    margin-top: 40px;
    font-size: 21px;
}


/* #search */
#search{
    background: #d93625;
    padding: 50px 0;
}

#search >div{
    position: relative;
}

#search_text{
    border: none;
    width: 600px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    font-size: 19px;
}

#search_btn{
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(../images/search.png) no-repeat center;
    right: 300px;
    bottom: 17px;
    cursor: pointer;
}


/* #banner */
#banner_top{
    margin-bottom: 20px;
    position: relative;
}

#stop{
    background: url(../images/banner-top.png) no-repeat;
    border: none;
    padding: 10px;
    position: absolute;
    left: 60px;
    top: 2px;
    cursor: pointer;
}
#banner{
    padding: 100px 0;
    
}
#banner_wrap{
    height: 301px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 3600px;
    position: absolute;
    top: 0;
    left: 0;
}

.slide{
    float: left;
}




/* #con-section */
#con_section{
    background: #efefef;
    padding-bottom: 100px;
}

.con{
    padding-top: 100px;
}

.con h2{
    font-size: 25px;
    font-weight: bold;
}


/* #section1 */
#section1::after,
#section2::after,
#section3::after{
    display: block;
    content: " ";
    clear: both;
}

#news_area,#short_section,#caution
,#map,#time{
    width: 385px;
    height: 385px;
    float: left;
    margin: 7px;
    box-sizing: border-box;
    padding: 40px 40px 0;
}

#news_area{
    background: #dc4232;
    border-radius: 100px 50px 0 50px;
    font-size: 18px;
    font-weight: 500;
}

#news_area li{
    line-height: 3;
}

#news_area li{
    border-bottom: 1px solid #fff;
}
#news_area li:nth-child(1){
    background: url(../images/news-area1.png) no-repeat right;
}
#news_area li:nth-child(2){
    background: url(../images/news-area2.png) no-repeat right;
}
#news_area li:nth-child(3){
    background: url(../images/news-area3.png) no-repeat right;
}
#news_area li:nth-child(4){
    background: url(../images/news-area4.png) no-repeat right;
}
#news_area li:nth-child(5){
    background: url(../images/news-area5.png) no-repeat right;
}

#news_area a{
    color: #fff;
    display: block;
}

#short_section{
    background: #fff;
    border-radius: 50px 100px 50px 0px;
    border: 1px solid #eae8e8;
}

#short_section h2{
    text-align: center;
}
#short_section h3{
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

#short_section li{
    display: inline-block;
    margin: 0 15px;
}

#short_section a:hover{
    border-bottom: 2px solid #dc4232;
}

#short_section ul{
    text-align: center;
    margin: 19px 0;}

#service {
    border-bottom: 2px solid #97afb5;
}
#service h3{
    background: url(../images/service.png) no-repeat;
    background-position-x: 200px;
}
#banking h3{
    background: url(../images/banking.png) no-repeat right;
    background-position-x: 200px;
}

#banking > div > ul >li{
    display: block;
    line-height: 2;
}
#banking > div > ul{
    float: left;
}
#banking span{
    display: inline-block;
    line-height: 2;
    margin-left: 10px;
}

#caution{
    background: #aecad1 url(../images/caution-bg.png) no-repeat right -60px bottom 30px;
    border-radius: 0 50px 100px 50px;
}

#caution a{
    display: block;
}
#caution h2{
    font-size: 21px;
    margin-bottom: 30px;
}

#caution > h2:nth-of-type(2){
    border-top: 2px solid #fff;
}

#caution > h2:nth-of-type(2)> a{
    margin: 30px 0;
}
#caution strong{
    color: #dc4232;
}

#caution span:nth-of-type(1){
    margin-bottom: 20px;
}
#caution span{
    background: url(../images/caution-arrow.png) no-repeat;
    background-position-y: 12px;
    display: inline-block;
    padding-left: 15px;
    line-height: 2;
}


/* #section2 */
#section2 > div{
    float: left;
    box-sizing: border-box;
    height: 380px;
    border: 1px solid #eae8e8;
}

#short_area{
    position: relative;
    padding: 40px 40px 0;
    width: 790px;
    border-radius: 50px 100px 50px 0;
    margin-right: 30px;
    background: #fff url(../images/short-bg.png) no-repeat right 30px top 20px;
}

#short_area > h2,
#short_area > div{
    display: inline-block;
}

#red_short{
    display: inline-block;
    background: #dc4232;
    border-radius: 10px;
    line-height: 2;
    width: 80px;
    text-align: center;
    position: absolute;
    right: 200px;
}

#red_short span{
    color: #fff;
}

#short_area ul{
    width: 600px;
    margin-top: 50px;
}

#short_area li{
    font-size: 19px;
    line-height: 2;
    border-bottom: 1px solid #eae8e8;
    padding: 5px 0;
}

#short_area a{
    margin-right: 30px;
}
#sns{
    border-radius: 50px 77px 38px 0;
    width: 380px;
    background: #fff;
    overflow: hidden;
}

#sns h2{
    padding: 40px 40px 0;
}
#sns ul{
    font-size: 15px;
    margin: 40px;
}

#sns li:nth-child(1){
    font-weight: bold;
}
#sns li{
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sns_short{
    background: #aecad1 url(../images/sns-arrow.png) no-repeat right 125px top 37px;
    padding: 32px;
}

#sns_short a{
    display: block;
}
#sns_short span{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position: relative;
    left: 110px;
}


/* #section3 */
#map{
    border-radius: 50px 100px 50px 0;
    background: #fff;
    border: 1px solid #eae8e8;
}

#map h2{
    line-height: 2;
    background: url(../images/map-icon.png) no-repeat bottom 0 right 100px;
    margin-bottom: 15px;
}
#map span{
    display: block;
    line-height: 2;
    background: url(../images/sns-arrow.png) no-repeat left 65px bottom 7px;
}
#map a{
    display: block;
    width: 310px;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
}

#report{
    float: left;
    width: 385px;
    margin: 0 7px;
}

#report >div{
    border-radius: 50px 20px 0 20px;
    padding: 40px 40px 0;
    margin: 7px;
}

#report h2{
    line-height: 2;
}

#report p{
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 65px;
}

#history{
    background: #aecad1 url(../images/history.png) no-repeat right 10px top 10px;
    margin-bottom: 20px;
}

#content{
    background: #aecad1 url(../images/content.png) no-repeat right 10px top 10px; 

}
#time{
    border-radius: 50px 100px 50px 0;
    background: #dc4232 url(../images/time.png) no-repeat right -7px bottom -20px;
    color: #fff;
}

#time a{
    color: #fff;
}

#time > h2{
    line-height: 2;
    margin-bottom: 25px;
    background: url(../images/time-arrow.png) no-repeat top 17px left 100px;
}

#time li{
    line-height: 1.5;
    background: url(../images/time-arrow2.png) no-repeat top 5px left 90px;
}

#time > p{
    margin-top: 25px;
    line-height: 1.5;
    font-size: 15px;
}


/* #section4 */
#contact{
    border: 1px solid #eae8e8;
    border-radius: 30px;
    background: #fff url(../images/contact-bg.png) no-repeat right;
    padding: 40px;
}

#contact_section{
    width: 410px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}

#contact_section > h2{
    line-height: 2;
    padding: 10px 0;
}

.gray_con{
    background: #eae8e8;
    padding: 20px 0;
    border-radius: 10px;
}

.gray_con:nth-of-type(1){
    margin-bottom: 20px;
}

#contact_section h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.gray_con strong{
    font-size: 35px;
    font-weight: bold;
}

.gray_con span{
    line-height: 1.5;
    font-weight: 500;
    font-size: 17px;
}

.gray_con:first-child{
    margin-bottom: 20px;
}


/* footer */
#footer{
    background: #efefef;
    border-top: 1px solid #d93625;
    padding: 30px 0;
}

#ft_wrap{
    background: url(../images/ft-logo.png) no-repeat top 60px left 0;
}

#ft_wrap > ul{
    font-weight: 500;
}

#ft_wrap li{
    display: inline-block;
    margin-right: 10px;
}

#addr{
    margin: 35px 170px 0;
    font-size: 14px;
    line-height: 1.5;
}

#addr strong{
    display: inline-block;
    margin-top: 20px;
}
/* #top */
#top{
    background: #dc4232;
    border-radius: 10px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    position: fixed;
    display: inline-block;
    right: 30px;
    bottom: 50px;
    width: 60px;
    line-height: 2;
    text-align: center;
    cursor: pointer;
}


/* -------------민원신청•칭찬 page------------ */
/* #location */
#location::after{
    display: block;
    content: '';
    clear: both;
}
#location > ul{
    float: right;
    font-size: 14px;
}
#location > ul >li{
    float: left;
    padding-left: 15px;
    margin-left: 10px;
}

#location > ul >li:nth-child(1){
    color: transparent;
    padding-left: 0;
    background: url(../images/home.png) no-repeat center;
}

#location > ul >li:nth-child(2){
    background: url(../images/location-arrow.png) no-repeat left;
}
#location > ul >li:nth-child(3){
    background: url(../images/location-arrow.png) no-repeat left;

}


/* #content_wrap */
#content_wrap::after,#tab_menu::after{
    display: block;
    content: '';
    clear: both;
}

/* #left_wrap */
#left_wrap{
    float: left;
    width: 250px;
    text-align: center;
    margin-right: 40px;
}

#left_wrap >ul >li:first-child{
    background: #dc4232 url(../images/sub-bg.png) no-repeat right -30px bottom -25px; 
}

#left_wrap h2{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    line-height: 2;
    padding: 30px 0;
}

#left_wrap > ul > li:not(:first-child){
    line-height: 2;
    border-bottom: 1px solid #e6e6e6;
}

#left_wrap a{
    display: block;
    padding: 15px 0;
}
#left_wrap > ul > li:not(:first-child) >a:hover{
    color: #dc4232;
}


/* #right_wrap */
#right_wrap{
    float: left;
    width: 900px;
}

#right_wrap > h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 3;
}

/* #tab_menu */
#tab_menu > li{
    float: left;
    width: 170px;
    border: 1px solid #dc4232;
    box-sizing: border-box;
    text-align: center;
    margin: 4px;
}


#tab_menu > li >a{
    display: block;
    padding: 15px 0;
    
}
#tab_menu > li:nth-child(7)>a{
    padding: 7px 24px;
}

#tab_menu > li >a:hover{
    background: #dc4232;
    color: #fff;
}

/* #content_text */
#content_text{
    border-radius: 50px 100px 50px 0;
    background: #f7f7f7;
    padding: 70px 50px;
    margin: 45px 0;
}

#content_text > p{
    line-height: 2;
}

#content_text >p:first-child{
    padding-bottom: 20px;
}

#red_btn{
    display: block;
    width: 900px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0;
}
#red_btn>a{
    display: inline-block;
    width: 150px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    background: #dc4232;
    color: #fff;
}

#right_wrap > p{
    display: block;
    float: right;
    margin: 20px 0;
}

/* #survey_wrap */
#survey{
    width: 900px;
    border: 2px solid #d93625;
    margin: 100px 0;
}
#survey_wrap{
    padding: 23px 43px 26px 145px;
    position: relative;
}

#survey_wrap >span{
    position: absolute;
    left: 20px;
    display: block;
    background: #aecad1;
    width: 100px;
    font-size: 19px;
    text-align: center;
    border-radius: 10px 20px 10px 0;
    padding: 15px 0;
}

#survey_wrap > p{
    display: inline-block;
    margin: 15px 0;
}


/* #choose */
#choose::after{
    display: block;
    clear: both;
    content: '';
}

#choose{
    border-top: 2px solid #d5d4d4;
}

#choose >li {
    float: left;
    margin: 30px 0;
}

#choose label{
    padding-left: 40px;
}

#choose form{
    padding: 10px 0;
}

#submit{
    border: transparent;
    background: #aecad1;
    width: 80px;
    border-radius: 5px;
    line-height: 2;
    margin-left: 10px;
    padding: 10px 0;
    cursor: pointer;
}

#choose > li:nth-child(1) label{
    background: url(../images/mood1.png) no-repeat left 0px top 6px;
    padding: 15px 0 13px 40px;
}

#choose > li:nth-child(2) label{
    background: url(../images/mood2.png) no-repeat left 0px top 6px;
    padding: 15px 0 13px 40px;
}

#choose > li:nth-child(3) label{
    background: url(../images/mood3.png) no-repeat left 0px top 6px;
    padding: 15px 0 13px 40px;
}

#choose > li:nth-child(4) label{
    background: url(../images/mood4.png) no-repeat left 0px top 6px;
    padding: 15px 0 13px 40px;
}

 #choose > li:nth-child(5) label{
    background: url(../images/mood5.png) no-repeat left 0px top 6px;
    padding: 15px 0 13px 40px;
}

#text{
    width: 550px;
    border: 2px solid #d93625;
    line-height: 2;
    border-radius: 5px;
    padding: 10px;
}
