@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #fff;
}

/* #header */
#header{
    font-size: 24px;
    font-family: 'NEXON Lv1 Gothic OTF';
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: 15px;
    z-index: 10;
}

/* #logo */
#logo {
    float: left;
    width: 250px;
    margin-right: 100px;
    background: url(../images/logo.png) no-repeat ;
}

#logo >a{
    display: block;
    padding-bottom: 50px;
}
/* #nav */
#nav::after{
    display: block;
    content: '';
    clear: both;
}

#nav{
    margin-top: 20px;
}
#nav_list{
    float: left;
}

#nav_list > li,
#nav_right > li{
    float: left;
}

#nav_list > li:not(:nth-child(3)){
    margin-right: 70px;
}

#nav_right{
    float: right;
}

#nav_right > li:not(:nth-child(3)){
    margin-right: 30px;
}

#nav_right button{
    border: none;
    width: 20px;
    height: 23px;
    cursor: pointer;
}
#search > button{
    background: url(../images/search.png) no-repeat center;
}

#basket > button{
    background: url(../images/basket.png) no-repeat center;
}

#menu > button{
    background: url(../images/menu.png) no-repeat center;
}


/* #main_wrap */
#main_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#main_wrap > .con{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

/* .section */
.section{
    height: 100%;
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.circle{
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle_M{
    width: 85%;
    height: 100%;
    z-index: 2;
    animation: circleM 5s ease-in-out;

}

.show{
}

@keyframes circleM{
    from{transform: translate(-50%, -50%) scale(1); opacity: 1;}
    90%{opacity: 0.2;}
    to{transform: translate(-50%, -50%) scale(0); opacity: 0;}

}


.circle_L{
    width: 95%;
    height: 110%;
}

/* #section1 */
#section1{
    background: #4a6c84;
}

#circle_blue{
    background: #b0c0cf;
}

#circle_blue2{
    background: #8eaabd;
}

/* #section2 */
#section2{
    background: #a46d06;
}

#circle_yellow{
    background: #ffce5d;
}

#circle_yellow2{
    background: #f9b20f;
}

/* #section3 */
#section3{
    background: #1e1e1e;
}

#circle_black{
    background: #818184;
}

#circle_black2{
    background: #525252;
}

/* #section4 */
#section4{
    background: #732219;
}

#circle_red{
    background: #dc584c;
}

#circle_red2{
    background: #bd3b2f;
}

/* #section5 */
#section5{
    background: #005929;
}

#circle_green{
    background: #1fc37e;
}

#circle_green2{
    background: #01a862;
}

/* #section6 */
#section6{
    background: #c98d7c;
}

#circle_pink{
    background: #eec6bb;
}

#circle_pink2{
    background: #e8b8aa;
}


/* .content */
.content{
    z-index: 9;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content > h1{
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-size: 82px;
    text-align: center;
    color: #fff;
}

.section:hover img{
    transform: translate(-50%, -50%) scale(1.1);
}

.content > img{
    position: absolute;
    z-index: 90;
    left: 51%;
    top: 10px;
    transform: translate(-50%, -50%);
    transition:  0.5s ease-in-out;
}

.btn{
    width: 105px;
    height: 105px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
}

.next{
    right: 0px;
}

#blue_prev{
    background: #7da8c8 url(../images/prev.png) no-repeat center;
}
#blue_next{
    background: #7da8c8 url(../images/next.png) no-repeat center;
}

#yellow_prev{
    background: #e69800 url(../images/prev.png) no-repeat center;
}
#yellow_next{
    background: #e69800 url(../images/next.png) no-repeat center;
}

#black_prev{
    background: #383838 url(../images/prev.png) no-repeat center;
}
#black_next{
    background: #383838 url(../images/next.png) no-repeat center;
}

#red_prev{
    background: #a82317 url(../images/prev.png) no-repeat center;
}
#red_next{
    background: #a82317 url(../images/next.png) no-repeat center;
}

#green_prev{
    background: #04834e url(../images/prev.png) no-repeat center;
}
#green_next{
    background: #04834e url(../images/next.png) no-repeat center;
}

#pink_prev{
    background: #dc9b88 url(../images/prev.png) no-repeat center;
}
#pink_next{
    background: #dc9b88 url(../images/next.png) no-repeat center;
}