
body{
    font-family: 'NanumBarunGothic';
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
}
#user_top::after,.slide_con::after,#insta_wrap::after,
#insta_list::after,#best_wrap::after,#new_wrap::after,
#ft_top::after,#ft_list::after,#addr::after,#contact::after,
#sub_wrap::after,#sub_slidebox::after,#right_list::after,
#sub_prowrap::after,#sub_container::after,#sub_container ul::after,#line_wrap::after,
#indicator::after{
    display: block;
    content: '';
    clear: both;
}
/* #header */

#header{
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 99;
    padding: 30px 0;
}

.nav-up{
    background: rgba(255, 255, 255, 0.7)
}

#header_top{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#header_top >a{
    display: inline-block;
}

#user_btn{
    float: right;
}

#user_btn li{
    float: left;
    margin-left: 40px;
}

#user_bottom{
    float: right;
    margin-top: 20px;
}

#user_bottom li{
    margin-left: 25px;
}

#user_bottom button{
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#search{
    background: url(../images/search.png) no-repeat center;
}

#basket{
    background: url(../images/basket.png) no-repeat center;
}


/* #nav */
#nav{
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 60px;
    left: 0px;
}

#nav span{
    padding-right: 20px;
    background: url(../images/menu-arrow.png) no-repeat right 1px top 2px;
}

/* #side_nav  */
#side_nav{
    margin-left: -400px;
    position: fixed;
    line-height: 1.5;
    left: 0;
    top: 0;
    z-index: 99;
    width: 400px;
    height: 100%;
    background: #fff;
    padding: 30px 0;
    overflow: hidden auto;
}

#side_nav > a{
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 150px;
}
#side_wrap{
    margin-left: 30px;
}

.sub{
    padding: 10px 0;
    line-height: 2;
}
#side_wrap > li{
    margin-bottom: 30px;
}
#side_wrap > li > a{
    font-size: 30px;
    font-weight: bold;
}

/* #main_slide */
#main_slide{
    overflow: hidden;
}

#slides{
    width: 400%;
}

.slide{
    width: 25%;
}
.slide:nth-child(1){
    background: #fff5c7;
}
.slide:nth-child(2){
    background: #e0eec1;
}
.slide:nth-child(3){
    background: #fff;
}
.slide:nth-child(4){
    background: url(../images/slide4-bg.jpg) no-repeat;
    background-size: cover;
}

.slide_con{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 360px 0;
}

.slide_con img{
    position: absolute;
    display: block;
}

#slide1 img,#slide2 img{
    right: 0px;
    bottom: -50px;
}

#slide3 img{
    right: 0px;
    top: 0px;
}

#slide4 img{
    right: 0px;
    bottom: 10px;
}


/* .text_con */
.text_con{
    position: absolute;
    left: 40px;
    top: 370px;
    line-height: 1.3;
}

.text_con >h1{
    font-size: 35px;
    font-weight: 600;
}

.text_con p{
    font-size: 20px;
}

.text_con p:last-child{
    font-size: 18px;
}

.text_con strong{
    color: #e97813;
}

#slide2 strong:nth-child(1){
    color: #fbb93a;
}

#slide2 strong:nth-child(2){
    color: #5abae7;
}

#slide2 h1{
    color: #777;
}


/* .slide_btn */
.slide_btn{
    position: absolute;
    top: 500px;
    left: 40px;
}

.quick_btn{
    border-radius: 20px;
    background: #ffcb02;
    width: 100px;
    cursor: pointer;
    line-height: 2.5;
    border: none;
}

/* #progress */
#progress{
    width: 55%;
    position: relative;
    margin: 0 auto;
    bottom: 100px;
    background: #f3eeda;
}

#inner{
    width: 100%;
    height: 3px;
    background: #ffcb02;
    animation: progress 16s ease-in-out infinite;
}

@keyframes progress {
    0%{width: 0%;}
    25% {width: 25%;}
    50% {width: 50%;}
    75% {width: 75%;}
    100% {width: 100%;}
}

/* #container */
#container{
    background: #fef5ec;
    margin-top: 100px;
}

/* #section_wrap */
#section_wrap section,
#section_insta{
    padding-top: 130px;
}

#section_wrap,
#section_insta,
#ft_wrap{
    width: 1200px;
    margin: 0 auto;
}

#section_wrap h2{
    font-size: 35px;
    text-align: center;
}

#section_wrap h2 strong{
    font-weight: 600;
}

/* #section_line */
#section_line{
    position: relative;
}

#line_slide{
    overflow: hidden;
    padding: 70px 0;
    width: 1100px;
    margin: 0 auto;
}

#line_wrap{
    width: 400%;
}

#line_wrap li{
    float: left;
    top: 0;
    position: relative;
    left: 130px;
    overflow: hidden;
    width: 25%
}

#line_wrap div{
    float: left;
    width: 410px;
    height: 475px;
}


.line_left{
    margin: 50px 8px 0 0;
    border-radius: 100px 0 0 0;
    
}

.line_right{
    margin: 95px 0 0 8px; 
    border-radius: 0 100px 0 0;
    overflow: hidden;
}

#line_left1{
    background: #a88e7a;
}

#line_right3{
    background: #f3f4f3;
}

#line_left2,
#line_left3,
#line_right4
{
    background: #fff;
}

#line_wrap img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#line_left1 > img{
    top: 42%;
    left: 46%;
}

#line_right3 > img{
    top: 54%;
    left: 52%;
}

#section_line button{
    position: absolute;
}

.btn{
    cursor: pointer;
    width: 70px;
    height: 70px;
    opacity: 0.7;
    border-radius: 50%;
    border: 2px solid #ffcb02;
}

#line_pre{
    top: 480px;
    left: 130px;
    background: #fff url(../images/line-prev.png) no-repeat center;
}

#line_next{
    top: 560px;
    right: 130px;
    background: #fff url(../images/line-next.png) no-repeat center;
}

#indicator{
   position: absolute;
   margin-top: 20px;
   cursor: pointer;
}

#indicator li{
    float: left;
}

#indicator > li >span{
    height: 4px;
    width: 100px;
    background: #ffcb02;
    display: block;
}

#indicator span{
    color: transparent;
}

#indicator .on>span{
    background: #fff;
}

/* #section_best */
#best_wrap{
    padding-top: 70px;
}

#img_box{
    background: url(../images/best-bg.jpg) no-repeat center;
}

#img_box img{
    position: relative;
    top: 60px;
    left: 355px;
}

#best_text{
    float: right;
    margin: -20px 100px 0 0;
    text-align: center;
    line-height: 1.5;
}

#best_text h3{
    font-size: 18px;
}

#best_box{
    margin-top: 150px;
}

#best_box p{
    font-size: 120px;
    font-weight: 900;
    font-style: italic;
    color: #ffcb02;
    display: inline-block;
}

.view{
    float: right;
    font-size: 26px;
    margin-top: 70px;
    margin: 70px 20px 0 0;
    padding-right: 40px;
    background: url(../images/best-view.png) no-repeat right;
}

.view a{
    color: #a88e7a;
}

#best_box .view{
    margin-top: 75px;
}

#new_wrap .view{
    margin: -25px 20px 0 0;
}


/* #section_new */
#new_wrap{
    margin-top: 50px;
    position: relative;
}

#new_left{
    margin: 50px 0 0 140px;
    display: inline-block;
    width: 500px;
}

#new_right{
    float: right;
    margin-right: 180px;
    width: 330px;
    border: 1px solid #e1b58f;
    border-radius: 0 0 90px 0;
    background: #f6ecdf;
}

#new_right > img{
    padding: 50px;
}

#new-left {
 position: relative;
}

#modal_btn{
    display: none;
    position: absolute;
    right: 60%;
    top: 50%;
    width: 45px;
    height: 45px;
    background: #ffcb02 url(../images/modal-hover.png) no-repeat center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* #modal */
#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background: rgba(0,0,0,0.30);
}

#modal_wrap{
    display: block;
    width: 400px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 0;
}

#modal_wrap >img{
    padding: 30px 0;
}

#modal_text > h3{
    font-size: 18px;
    font-weight: 500;
}

#modal_text >p{
    margin: 20px 0;
    color: #96b383;

}
/* #bottom_new */
#bottom_new{
    margin-top: 70px;
    font-size: 180px;
    font-weight: 900;
    font-style: italic;
    color: #fdf6ec;
    text-shadow:
		-2px -2px 0 #ffcb02,
		2px -2px 0 #ffcb02,
		-2px 2px 0 #ffcb02,
		2px 2px 0 #ffcb02;
}
#bottom_new::before,
#bottom_new::after{
    content: 'NEW';
    font-size: 180px;
    font-weight: 900;
    font-style: italic;
    color: #b4c8a7;
    text-shadow: none;
}


/* #section_insta */
#section_insta{
    position: relative;
}
#section_insta h2{
    margin: 0 auto;
    width: 350px;
    padding-left: 50px;
    background: url(../images/insta-icon.png) no-repeat left 0px;
}

#insta_wrap{
    width: 1080px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
}

#insta_list {
    width: 200%;
}

#insta_list > li{
    float: left;
    width: 50%;
    overflow: hidden;
}

.insta_con > li{
    float: left;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0px 20px 20px 0;
}

.insta_con li:nth-child(5),
.insta_con li:nth-child(10),
.insta_con li:nth-child(15){
    margin-right: 0;
}

.btn{
    position: absolute;
    top: 585px;
}

#insta_pre{
    left: -5px;
    background: #fff url(../images/line-prev.png) no-repeat center;
}
#insta_next{
    right: -5px;
    background: #fff url(../images/line-next.png) no-repeat center;
}
/* #footer */
#footer{
    padding-top: 100px;
    background: url(../images/ft-bg.png) no-repeat center;
    background-size: cover;
    color: #aaa9a7;
}


#footer a{
    color: #aaa9a7;
}
#ft_wrap{
    padding: 50px 0;
}
#time strong{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}
#time >li:nth-child(1){
    background: url(../images/ft-icon.png) no-repeat left 70px top 0;
}

#time >li:nth-child(2){
    float: left;
}

#time >li:nth-child(3){
    float: right;
}

#time{
    float: left;
    line-height: 1.5;
    width: 400px;
}

#sns{
    float: right;
}

#sns li{
    float: left;
}

#sns a{
    color: transparent;
    padding: 10px 0;
}

#sns li:nth-child(1) a{
    background: url(../images/ft-sns1.png) no-repeat center;
}

#sns li:nth-child(2) a{
    background: url(../images/ft-sns2.png) no-repeat center;
}

#sns li:nth-child(3) a{
    background: url(../images/ft-sns3.png) no-repeat center;
}

#ft_list,#addr{
    font-size: 14px;
}

#ft_list{
    margin: 20px 0;
}

#ft_list li,
#addr li,
#contact li{
    float: left;
    padding-right: 10px;
    line-height: 1.5;
}

#ft_list li::after,
#addr li::after,
#contact li::after
{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 16px;
    background-color: #999;
    vertical-align: middle;
}

#ft_list li:last-child::after,
#addr li:nth-child(3)::after,
#addr li:nth-child(4)::after,
#addr li:nth-child(7)::after,
#contact li:nth-child(even)::after{
    display: none;
}

#addr,#contact{
    width: 700px;
    margin-top: 20px;
}

#addr li:nth-child(4){
    width: 100%;
}



/* #top */
#top{
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: #797979;
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    background: #ffcb02;
    border: none;
    border-radius: 50%;
}


/* --------subpage---------- */
/* #sub_section */
#sub_section{
    width: 100%;
    background: #aaaba8 url(../images/sub-main.png) no-repeat left 30% top 0;
}


/* #sub_wrap */
#sub_wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* #sub_left */
#sub_left{
    position: absolute;
    bottom: 220px;
    left: 0px;
    margin-left: 40px;
}

#sub_left h1{
    font-size: 66px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    margin-bottom: 20px;
}

#left_list{
    position: relative;
}
#left_list > a{
    width: 200px;
    padding: 15px;
    display: block;
    color:#fff;
    border: 1px solid #333;
    background: url(../images/best-arrow.png) no-repeat right 10px top 20px;
}
#list_wrap{
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.30);
    overflow: hidden auto;
    height: 200px;
}

#list_wrap li{
    padding: 15px;
}

#list_wrap a{
    width: 200px;
    display: block;
    color: #fff;
}


/* #sub_right */
#sub_right{
    float: right;
    width: 300px;
    overflow: hidden;
    margin-right: 150px;
    padding: 70px 0;
}

#right_list{
    width: 300%;
    font-size: 20px;
    color: #fff;
}

.list_con{
    float: left;
    width: 33.33%;
    position: relative;
}


#right_list span:nth-child(1){
    background: #ffcb02;
    width: 80px;
    border-radius: 50%;
    padding: 25px 0;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 100px;
    text-align: center;
}

.sub_img{
    padding: 100px 0 30px 0;
}

.sub_text p{
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}

.sub_text p:nth-of-type(2){
    font-size: 15px;
}

.list_con span:nth-of-type(2){
    float: left;
}

.main_wish{
    float: right;
}

.main_wish li{
    display: inline-block;
    width: 20px;
}

.main_wish button{
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.wish1{
    margin-right: 20px;
}

.wish1 button:hover{
    background: url(../images/wish-yellow.png) no-repeat center;
}
.wish1 button{
    background: url(../images/wish1.png) no-repeat center;
}

.wish2 button:hover{
    background: url(../images/basket-yellow.png) no-repeat center;
}
.wish2 button{
    background: url(../images/wish2.png) no-repeat center;
}

/* #sub_container */
#sub_container{
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#sub_container li{
    float: left;
}

#sub_container button{
    cursor: pointer;
    border: none;
}

#sub_container a{
    display: block;
    padding-top: 20px;
}

#sub_container p{
    line-height: 1.5;
    height: 50px;
    margin-bottom: 25px;
    font-size: 18px;
}

.wish_list span,
.wish_list2 span{
    font-weight: bold;
    line-height: 2;
}


.wish_list,
.wish_list2{
    display: inline-block;
    width: 30px;
    padding: 20px;
    text-align: center;
}

.img_hover:hover{
    transform: scale(1.06);
}

.top_text button:hover,
.bottom_text button:hover{
    border-radius: 50%;
    background: #ffcb02 url(../images/basket-white.png) no-repeat center;
}


/* #section_top */
#section_top li{
    background: #fdf6ec;
    width: 380px;
    margin: 0 10px;
}

#section_top div:nth-child(2){
    text-align: center;
}

#section_top p:nth-child(2){
    font-size: 17px;
}

#section_top > span{
    font-size: 30px;
    color: #a78e7a;
    text-align: right;
    display: block;
    margin-bottom: 20px;
}

.wish_list span{
    font-size: 20px;
}

.wish_list button:hover,
.wish_list2 button:hover{
    background: url(../images/wish-yellow2.png) no-repeat center;
}

.wish_list button,
.wish_list2 button{
    width: 20px;
    height: 20px;
    background: url(../images/wish-brown.png) no-repeat center;
}

.top_text button{
    width: 35px;
    height: 35px;
    background: url(../images/basket-black.png) no-repeat center;
}

.top_text{
    padding: 30px 0;
}

.top_text span{
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.best_text{
    background: rgba(255, 255, 255, 0.7);
    display: none;
}

/* #section_bottom */
#section_bottom{
    margin-top: 150px;    
}

.bottom_bg{
    background: #fdf6ec;
}

.bottom_bg a{
    padding: 40px 0;
}

#section_bottom li {
    width: 280px;
    padding: 0 10px;
}

#section_bottom p:nth-child(2){
    font-size: 14px;
}

#section_bottom img{
    padding: 15px;
}

.wish_list2 span{
    font-size: 18px;
}

.bottom_text{
    padding: 40px 0;
}

.bottom_text button{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: -10px;
    background: url(../images/basket-black.png) no-repeat center;
}

.bottom_text span{
    font-size: 22px;
    font-weight: bold;
}
